@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Arabic", "Noto Sans", sans-serif;
}

.material-symbols-rounded {
  @apply align-middle;
}

code {
  @apply block w-full;
}

article h1 {
  @apply text-3xl font-black text-stone-200 text-center mb-2;
}

article p {
  @apply text-lg text-stone-300 indent-4 my-4;
}

article h2 {
  @apply text-xl text-stone-200 font-bold mt-6;
}

article code {
  @apply bg-stone-950 p-5 px-6 rounded-2xl my-4 text-stone-400;
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    left: 65px;
  }

  50% {
    left: calc(100% - 65px);
  }

  to {
    left: 65px;
  }
}

@layer utilities {
  .dir-ltr {
    direction: ltr;
  }

  .dir-rtl {
    direction: rtl;
  }

  .animate-move {
    @media (prefers-reduced-motion: no-preference) {
      animation: move 20s infinite;
    }
  }
}

.loading-spinner {
  stroke: var(--color-purple-200);
  animation: loading-spinner-animation 2s infinite linear;
  stroke-width: 1rem;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dashoffset: 0px;
  rx: 10px;
  ry: 10px;
  stroke-dasharray: 0, 0;
}

.error-glyph-line {
  stroke: var(--color-red-400);
  stroke-width: 1rem;
  stroke-linecap: round;
}

.error-glyph-dot {
  stroke: var(--color-red-400);
  stroke-linecap: round;
  r: 0.5rem;
}

@keyframes loading-spinner-animation {
  from {
    stroke-dasharray: 0, 1rem;
    rx: 80px;
    ry: 80px;
    stroke-dashoffset: -40px;
  }
  50% {
    rx: 20px;
    ry: 20px;
    stroke-dasharray: 2, 2rem;
    stroke-dashoffset: -80px;
  }
  to {
    stroke-dasharray: 0, 1rem;
    rx: 80px;
    ry: 80px;
    stroke-dashoffset: -120px;
  }
}
