@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Arabic", "Noto Sans", sans-serif;
}

.material-symbols-rounded {
  @apply align-middle
}

code {
  @apply block w-full;
}

article h1 {
  @apply text-3xl font-black text-stone-200 text-center mb-2;
}

article p {
  @apply text-lg text-stone-300 indent-4 my-4;
}

article h2 {
  @apply text-xl text-stone-200 font-bold mt-6;
}

article code {
  @apply bg-stone-950 p-5 px-6 rounded-2xl my-4 text-stone-400;
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@layer utilities {
  .dir-ltr {
    direction: ltr;
  }

  .dir-rtl {
    direction: rtl;
  }
}
